/*header*******************************/
.navbar-default {
  background-color: rgb(59, 61, 103);
  margin:0px;
  border:0px;
  border-radius: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
    text-align: center;
}

.navbar-default .navbar-brand {
    color: white;
}
.hero {
    background: #efefef;
    color: #2f3440;
}
.pad {
    padding-top: 40px;
    padding-bottom: 40px;
}
/*//header**************************************/

#stars {
    float:right;
}

.main-content{
  padding:50px;
}

hr{
  border-color:#af5d5d;
}


/*footer*************/
.site-footer{
  margin-top:260px;
  border:0px;
  text-align: center;
  padding: 20px 20px;
  background-color: black;
  color:white;
}
