/*header*******************************/
.navbar-default {
  background-color: rgb(59, 61, 103);
  margin:0px;
  border:0px;
  border-radius: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
    text-align: center;
}
.brandicon {
  padding:8px;
}

.navbar-default .navbar-brand {
    color: white;
}
.hero {
    background: #efefef;
    color: #2f3440;
}
.pad {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*//header**************************************/

#stars {
    float:right;
}

.content{
  margin-top:20px;
  width:740px;
  max-width: 740px;
}

hr{
  border-color:#af5d5d;
}


/*footer*************/
.site-footer{
  border:0px;
  text-align: center;
  padding: 20px 20px;
  background-color: black;
  color:white;
}
.sidebar {
  width:400px;
  max-width:400px;
  height:2000px;
  border: solid 3px grey;
  border-top:0px;
  border-bottom: 0px;
  border-right: 0px;
  color:white;
  background-color: rgba(5,5,5,0.3);
}
body{
  background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
}

.sidebar>a {
  
  cursor:pointer;
  color:white;
}

.comment {

  padding:4px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px #337ab7;
  display: none;
}

.comment-btn {

  display:block;
  margin-left:auto;
  margin-right:auto;
}

.panel {

  margin-bottom: 0px;
}
.inside-content{

  margin-bottom:20px;

}