<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/favicon.png">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Stars</title>
    

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- overiding default -->

    <link rel="stylesheet" href="static/css/base.css">
  </head>
  <body>
<header>

  <!-- Navigation====================================================== -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

           <a class="navbar-brand brandicon" href=""><img title="Stars" alt="Brand" src="/static/images/brandicon.png"></a>
           <a class="navbar-brand" href="">Stars</a>
          <!-- Brand and Toggle are grouped together -->

         </div> <!-- navbar header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="{% url "home" %}">Home<span class="sr-only">(current)</span></a></li>
              </ul>
          </div> <!-- Collapsed in mobile display -->
        </div> <!--container fluid -->
      </nav>
  <!-- / Navigation====================================================== -->




    <div class="hero pad">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="page-title entry-title">Welcome to Stars</h1>
            <h3 class="page-sub-title">Get Everything reviewed ...</h3>
          </div>
        </div>
      </div>
    </div>
</header>
<!--End of header +++++++++++++++++++++++++++-->

<!-- BODY CONTENT *****====================-->

<div class="container" style="margin:auto">
  <div class="container pull-left content">
    <div class="text-justify row" id="post">
    {% for obj in objects %}
      <div class="col-md-12">

        <div class="panel panel-primary">
          <div class="text-center panel-heading">{{ obj.title }}</div>
          <div class="panel-body">
            {{ obj.body }}
            <hr>
              <span id="1" onclick="rate(1, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="2" onclick="rate(2, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="3" onclick="rate(3, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="4" onclick="rate(4, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="5" onclick="rate(5, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="stars">{{ obj.stars }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

  <div style="padding-top:20px" class="container pull-right sidebar">
    <a id="InSort"><b>Insersion Sort</b></a><br>
    <a href=""><b>Binary Search</b><br></a>
    <a href=""><b>Quick Sork</b><br></a>
    <a href=""><b>Suffix Array</b><br></a>
    <a href=""><b>Knuth-Morris-Pratt Algorith (KMP)</b><br></a>
    <a href=""><b>Rabin-Karp Algorith</b><br></a>
    <a href=""><b>Tries</b><br></a>
    <a href=""><b>Deapth First Traversal of a graph</b><br></a>
    <a href=""><b>Breadth First Traversal of a graph</b><br></a>
    <a href=""><b>Dijkstra's Algorith</b><br></a>
    <a href=""><b>Binary Indexed Tree</b><br></a>
    <a href=""><b>Segment Tree ( with lazy propogation )</b><br></a>
    <a href=""><b>Z Algorith</b><br></a>
    <a href=""><b>Floyd Warshall Algorithm</b><br></a>
    <a href=""><b>Heap /Priority Queue/ Heapsort</b><br></a>
    <a href=""><b>Modular Multiplicative Inverse</b><br></a>
    <a href=""><b>Binamial Coefficients</b><br></a>
    <a href=""><b>Suffix Automation</b><br></a>
    <a href=""><b>Lowest Common Ancestor</b><br></a>
    <a href=""><b>Counting Inversions</b><br></a>
    <a href=""><b>Euclid's Extended Algorithm</b><br></a>
    <a href=""><b>Suffix Tree</b><br></a>
    <a href=""><b>Dynamic Programming</b><br></a>
    <a href=""><b>Basic Data Structures</b><br></a>
    <a href=""><b>Logarithmic Exponentiation</b><br></a>
    <a href=""><b>Graphs</b><br></a>
    <a href=""><b>Minimum Spanning Tree</b><br></a>
    <a href=""><b>Efficient Prime Factorization</b><br></a>
    <a href=""><b>Combinatorics</b><br></a>
    <a href=""><b>Knapsack Problem</b><br></a>
    <a href=""><b>Aho-Corasick String Matching Algrithm</b><br></a>
    <a href=""><b>Strongly Connected Components</b><br></a>
    <a href=""><b>Bellman Ford Algorithm</b><br></a>
    <a href=""><b>Heacy-ligth Decomposition</b><br></a>
    <a href=""><b>Convex Hull</b><br></a>
    <a href=""><b>Line Intersection</b><br></a>
    <a href=""><b>Sieve of Erastothenes</b><br></a>
    <a href=""><b>Interval Tree</b><br></a>
    <a href=""><b>Counting Sort</b><br></a>
    <a href=""><b>Probabilities</b><br></a>
    <a href=""><b>Matrix Exponentiation</b><br></a>
    <a href=""><b>Network Flow</b><br></a>
    <a href=""><b>K-D Tree</b><br></a>
    <a href=""><b>Deque</b><br></a>
    <a href=""><b>Binary Search Tree</b><br></a>
    <a href=""><b>Quick Select</b><br></a>
    <a href=""><b>Treap/Cartesian Tree</b><br></a>
    <a href=""><b>Game Theory</b><br></a>
    <a href=""><b>STL</b><br></a>
    <a href=""><b>Maximum Bipartitle Matching</b><br></a>
    <a href=""><b>Manacher's Algorithm</b><br></a>
    <a href=""><b>Miller-Rabin Primality Test:Code</b><br></a>
    <a href=""><b>Stable Marrage Problem</b><br></a>
    <a href=""><b>Hungarian Algorithm, Tutorial</b><br></a>
    <a href=""><b>Sweep Line Algirithm</b><br></a>
    <a href=""><b>LCP</b><br></a>
    <a href=""><b>Gaussian Elimination</b><br></a>
    <a href=""><b>Pollard Pho Integer Factorization Problem</b><br></a>
    <a href=""><b>Topological Sorting</b><br></a>
    <a href=""><b>Detecting Cycles in a Graph:Directed</b><br></a>
    <a href=""><b>Geometry</b><br></a>
    <a href=""><b>Backtracing</b><br></a>
    <a href=""><b>Euleran and Hamiltonian Paths</b><br></a>
    <a href=""><b>Graph Coloring</b><br></a>
    <a href=""><b>Meet in the Middle</b><br></a>
    <a href=""><b>Arbitary Precision Integer</b><br></a>
    <a href=""><b>Radix Sort and Bucket Sort</b><br></a>
    <a href=""><b>Johnson's Algorithm</b><br></a>
    <a href=""><b>Maximal Matching in a General Graph</b><br></a>
    <a href=""><b>Recursion</b><br></a>
    <a href=""><b>Inclusive and Exclusive Principle</b><br></a>
    <a href=""><b>Co-ordinate Compression</b><br></a>
    <a href=""><b>Sqrt-Decomposition</b><br></a>
    <a href=""><b>Link-Cut Tree</b><br></a>
    <a href=""><b>Euler's Totient Function</b><br></a>
    <a href=""><b>Burnside Lemma</b><br></a>
    <a href=""><b>Edit/Levenshtein Distance</b><br></a>
    <a href=""><b>Banch and Bound</b><br></a>
    <a href=""><b>Math for Competitve Programming</b><br></a>
    <a href=""><b>Mo's Algorithm</b><br></a>
</div>
</div>






<!-- footer ************************************-->
<footer class="site-footer">
  <div class="container">
    <h4>© Aman Agrawal</h4>
  </div>
</footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--functions created by me -->
    <script src="/static/js/base.js"></script>
  </body>
</html>
