<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/favicon.png">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Stars</title>
    

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- overiding default -->

    <link rel="stylesheet" href="static/css/base.css">
  </head>
  <body>
<header>

  <!-- Navigation====================================================== -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

           <a class="navbar-brand brandicon" href=""><img title="Stars" alt="Brand" src="/static/images/brandicon.png"></a>
           <a class="navbar-brand" href="">Stars</a>
          <!-- Brand and Toggle are grouped together -->

         </div> <!-- navbar header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="{% url "home" %}">Home<span class="sr-only">(current)</span></a></li>
              </ul>
          </div> <!-- Collapsed in mobile display -->
        </div> <!--container fluid -->
      </nav>
  <!-- / Navigation====================================================== -->




    <div class="hero pad">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="page-title entry-title">Welcome to Stars</h1>
            <h3 class="page-sub-title">Get Everything reviewed ...</h3>
          </div>
        </div>
      </div>
    </div>
</header>
<!--End of header +++++++++++++++++++++++++++-->

<!-- BODY CONTENT *****====================-->

<div class="container" style="margin:auto">
  <div class="container pull-left content">
    <div class="text-justify row">
    {% for obj in objects %}

      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="text-center panel-heading">{{ obj.title }}</div>
          <div class="panel-body">
            {{ obj.body }}
            <hr>
              <span id="1" onclick="rate(1, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="2" onclick="rate(2, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="3" onclick="rate(3, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="4" onclick="rate(4, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="5" onclick="rate(5, {{ obj.id }})" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <span id="stars">{{ obj.stars }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

  <div class="container pull-right sidebar">
  <div>
    <a href="">Binary Search<br></a>
    <a href="">Quick Sork<br></a>
    <a href="">Suffix Array<br></a>
    <a href="">Knuth-Morris-Pratt Algorith (KMP)<br></a>
    <a href="">Rabin-Karp Algorith<br></a>
    <a href="">Tries<br></a>
    <a href="">Deapth First Traversal of a graph<br></a>
    <a href="">Breadth First Traversal of a graph<br></a>
    <a href="">Dijkstra's Algorith<br></a>
    <a href="">Binary Indexed Tree<br></a>
    <a href="">Segment Tree ( with lazy propogation )<br></a>
    <a href="">Z Algorith<br></a>
    <a href="">Floyd Warshall Algorithm<br></a>
    <a href="">Heap /Priority Queue/ Heapsort<br></a>
    <a href="">Modular Multiplicative Inverse<br></a>
    <a href="">Binamial Coefficients<br></a>
    <a href="">Suffix Automation<br></a>
    <a href="">Lowest Common Ancestor<br></a>
    <a href="">Counting Inversions<br></a>
    <a href="">Euclid's Extended Algorithm<br></a>
    <a href="">Suffix Tree<br></a>
    <a href="">Dynamic Programming<br></a>
    <a href="">Basic Data Structures<br></a>
    <a href="">Logarithmic Exponentiation<br></a>
    <a href="">Graphs<br></a>
    <a href="">Minimum Spanning Tree<br></a>
    <a href="">Efficient Prime Factorization<br></a>
    <a href="">Combinatorics<br></a>
    <a href="">Knapsack Problem<br></a>
    <a href="">Aho-Corasick String Matching Algrithm<br></a>
    <a href="">Strongly Connected Components<br></a>
    <a href="">Bellman Ford Algorithm<br></a>
    <a href="">Heacy-ligth Decomposition<br></a>
    <a href="">Convex Hull<br></a>
    <a href="">Line Intersection<br></a>
    <a href="">Sieve of Erastothenes<br></a>
    <a href="">Interval Tree<br></a>
    <a href="">Counting Sort<br></a>
    <a href="">Probabilities<br></a>
    <a href="">Matrix Exponentiation<br></a>
    <a href="">Network Flow<br></a>
    <a href="">K-D Tree<br></a>
    <a href="">Deque<br></a>
    <a href="">Binary Search Tree<br></a>
    <a href="">Quick Select<br></a>
    <a href="">Treap/Cartesian Tree<br></a>
    <a href="">Game Theory<br></a>
    <a href="">STL<br></a>
    <a href="">Maximum Bipartitle Matching<br></a>
    <a href="">Manacher's Algorithm<br></a>
    <a href="">Miller-Rabin Primality Test:Code<br></a>
    <a href="">Stable Marrage Problem<br></a>
    <a href="">Hungarian Algorithm, Tutorial<br></a>
    <a href="">Sweep Line Algirithm<br></a>
    <a href="">LCP<br></a>
    <a href="">Gaussian Elimination<br></a>
    <a href="">Pollard Pho Integer Factorization Problem<br></a>
    <a href="">Topological Sorting<br></a>
    <a href="">Detecting Cycles in a Graph:Directed<br></a>
    <a href="">Geometry<br></a>
    <a href="">Backtracing<br></a>
    <a href="">Euleran and Hamiltonian Paths<br></a>
    <a href="">Graph Coloring<br></a>
    <a href="">Meet in the Middle<br></a>
    <a href="">Arbitary Precision Integer<br></a>
    <a href="">Radix Sort and Bucket Sort<br></a>
    <a href="">Johnson's Algorithm<br></a>
    <a href="">Maximal Matching in a General Graph<br></a>
    <a href="">Recursion<br></a>
    <a href="">Inclusive and Exclusive Principle<br></a>
    <a href="">Co-ordinate Compression<br></a>
    <a href="">Sqrt-Decomposition<br></a>
    <a href="">Link-Cut Tree<br></a>
    <a href="">Euler's Totient Function<br></a>
    <a href="">Burnside Lemma<br></a>
    <a href="">Edit/Levenshtein Distance<br></a>
    <a href="">Banch and Bound<br></a>
    <a href="">Math for Competitve Programming<br></a>
    <a href="">Mo's Algorithm<br></a>
  </div>
</div>
</div>






<!-- footer ************************************-->
<footer class="site-footer">
  <div class="container">
    <h4>© Aman Agrawal</h4>
  </div>
</footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--functions created by me -->
    <script src="/static/js/base.js"></script>
    <script>
      document.onload(document.getElementById('stars').innerHTML = parseFloat(document.getElementById('stars').innerHTML).toFixed(2)) // restrict the stars value to 2 decimal places       
    </script>
    
  </body>
</html>
